<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users">USERS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/photos">PHOTOS</a>
  </li>
</ul>
