<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="/">GO SUPER HOME</a>
<a href="/photo">photo GO HOME</a>
     <form action="/photo" method="POST">
        owner: <select name="photographerId">
        <% for (let i = 0; i < photographer.length; i++) {%>
          <option value="<%=photographer[i]._id%>"><%=photographer[i].name%></option>

          <%}%>
        </select><br/>
        name: <input type="text" name="name">
        <input type="submit">
    </form>
</body>
</html>