<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="/">GO HOME</a>
<a href="/photo">Go back to cats Index</a>
    <h1>Here is a photo of <%= photo.subject %></h1>
      <h2><%= photo.subject %>photo's photographer is <%=photographer.name%></h2>
    <a href="/photo/<%=photo._id%>/edit">Edit this photo</a>
</body>
</html>