<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="/">HOME</a>
<a href="/photos">PHOTO LIBRARY</a>
     <form action="/photos" method="POST">
        User: <select name="userId">
        <% for (let i = 0; i < usersOnTemplate.length; i++) {%>
          <option value="<%=usersOnTemplate[i]._id%>"><%=usersOnTemplate[i].username%></option>

          <%}%>
        </select><br/>
        Title: <input type = "text" name = "title">
        URL: <input type = "text" name = "url">
        Caption: <input type = "text" name = "caption">
        Date: <input type = "date" name = "date">
        <button type = "submit">Create</button>
    </form>

</body>
</html>

