<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>New stuff</h1>

    
    <form action="/photos" method="POST">
        <select name="userId">
            <% for(let i = 0; i < user.length; i++){%>
                <option value="<%=user[i]._id%>"><%=user[i].username%></option>
            <%}%>
        </select><br>

    Image: <input type = "text" name = "url">
    Caption: <input type = "text" name ="description">
    <input type = "submit"/>
    </form>
</body>
</html>