<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Photo</title>
</head>
<body>

<a href="/">Home</a>
<a href="/photos">All Photos</a>

    <h1>Submit a New Pic</h1>
    <form action="/photos" method="POST">
        Title: <input type="text" name="title">
        Caption: <input type="text" name="caption">
        URL: <input type="text" name="url">
        Date Captured: <input type="Date" name="date">
        <button type="submit">Create Photo</button>
    </form>


</body>
</html>