<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <h1>Add a New Photo</h1>
    <form action="/photos" method="POST">
        <p>Username <input type='text' name='username'></p>
        <p>Url <input type='text' name='url'></p>
        <p>Info <input type='text' name='info'></p>
        <button type='submit'>Submit</button>
    </form>
</body>
</html>