<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
     <h1>New Photo Page</h1>
     <form action="/photos" method="POST">
    Username: <input type="text" name="userName"><br/>
    URL: <input type="text" name="url"><br/>
    Description: <input type="text" name="photoInfo"><br/>
    <button type="submit">Created Photo</button>
  </form>
</body>
</html>