* {
  color: white;
}
body {
  background-color: black
}

input {
  color: black
}

select {
  color: black
}

.indexProfilePic {
  width: 60px;
  height: 60px;
  display: inline-block;
}

.profilePhotoList {
  width: 60px;
  height: 60px;
  display: inline-block;
}

.indexList {
  margin-bottom: 15px;
  box-shadow: 5px 5px 20px 2px white;
}

h4 {
  display: inline-block;
  margin-right: 30px
}
