<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <% include ../partials/partial %>

    <title>Edit User</title>
</head>
<body>


    <h1>Edit User</h1>
    <form action="/users/<%=user._id%>?_method=PUT" method="POST">
        Username: <input type="text" name="username" value="<%=user.username%>">
        <button type="submit">Edit User</button>
    </form>

    <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
        <button>DELETE</button>
    </form>

</body>
</html>