<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Photo</title>
</head>
<body>

<a href="/">Home</a>
<a href="/users">All Users</a>

    <h1>Edit User</h1>
    <form action="/users/<%=user._id%>?_method=PUT" method="POST">
        Username: <input type="text" name="username" value="<%=user.username%>">
        <button type="submit">Edit User</button>
    </form>


</body>
</html>