<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> Yay, you made it to edit!!!! </h1>
    <form action = "/users/<%=user._id%>?_method=PUT" method = "POST">
        <input type = "text" name = "username" value = "<%=user.username%>">
        <button type = "submit">Update User</button>
    </form>
</body>
</html>