<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> I will have all the things! </h1>
    <ul>
    <%for(let i = 0; i < user.length; i++){%>
    <li><a href = "/users/<%=user[i]._id%>"><%=user[i].username%></a></li>
    <form action = "/users/<%=user[i]._id%>/edit" method = "GET">
        <button type = "submit">Edit User</button>
    </form>
    <form action = "/users/<%=user[i]._id%>?_method=DELETE" method = "POST">
        <button type = "submit">Delete User</button>
    </form>
    <%}%>
    </ul>
    <form action="/users/new" method="GET">
        <button type = "submit">Add New User</button>
    </form>
</body>
</html>