<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
    <h1>Add a New User</h1>
		<form method="POST" action="/users">
			<input type="text" name="username" placeholder="username">
			<input type="password" name="password" placeholder="password">
			<input type="submit" value="Create User">
		</form>    

</body>
</html> 			