<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome <%=user.username%>!</h1>

      
     
    <% for (i = 0; i < user.photos.length; i++){%>
        <p>
        <a href="/photos/<%=user.photos[i]._id%>"><%=user.photos[i].description%></a>
        
        </p>
         <%}%>
    <a href = "/photos/new">Upload A New Photo</a> |
    <a href="/">Home</a>

    
    
</body>
</html>