<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Photos Index</h1>
    <% for (let i = 0; i < uploadedPhotos.length; i++){ %>
        <div><%= uploadedPhotos.url %></div>
        <div><%= uploadedPhotos.username %></div>
        <div><%= uploadedPhotos.title %></div>
        <div><%= uploadedPhotos.description %></div>
<% } %>
</body>
</html>


 url: {type: String, required: true,},
    username: String,
    title: String,
    description: String,