<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div>
        <h1>Upload a New Photo</h1>
        <form>
            <div>*Photo URL <input type="text" name="url" placeholder="photo url"></div>
            <div>*Username <input type="text" name="username" placeholder="something creative"></div>
            <div>Photo Title <input type="text" name="title" placeholder="something people want to look at"></div>
            <div>Photo Description <input type="text" name="description" placeholder="tell us about what's in the photo"></div>
            <div><button class="btn" type="submit">Upload Photo</button></div>
        </form>
        *required
    </div>
</div>
</body>
</html>